/* 
Цвет текста (заголовки) - #212121;
Цвет текста (основной) - #757575;
Цвет текста (ссылки навигации) - #212121;
Цвет текста (акцент) - #2196F3; 
Цвет фона - #FFFFFF
Цвет фона (вторичный) - #2F303A
Цвет текста (адреса в футере) - 255, 255, 255, 0,6; 
Цвет фона секции - #F5F4FA
Цвет лого - #000000 
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --ltitle-text-color: rgba(0, 0, 0, 0.2);
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bckg-color: #ffffff;
  --secondary-bckg-color: #f5f4fa;
  --footer-bckg-color: #2f303a;
  --blacktext-color: #000000;
  --whitetext-color: #ffffff;
  --footlogo-span-color: rgba(255, 255, 255, 1);
  --foot-contacts-color: rgba(255, 255, 255, 0.6);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-bckg-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}
/* Сброс геометрии элементов по - умолчанию. */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
}
/* ================Классы - Утилиты================ */
/* Убираеn метки из списков */
.unmarked {
  list-style: none;
}
/* Убирает подчеркивания и курсив из ссылок */
.link {
  color: var(--title-text-color);
  text-decoration: none;
}
/* Подсвечивает текущую страницу */
.current {
  color: var(--accent-color);
  text-decoration: none;
}
/* Скрывает контент */
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Данный контейнер будет использоваться везде,
 где нужно ограничить контент по ширине, согласно макету */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* =========HEADER========= */
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
/* Дополнительный ксасс, задан чтобы
 выстроить все содержимое шапки в ряд */
.main-nav {
  display: flex;
  align-items: center;
}
/* head-logo */
.header-logo {
  display: block;
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.headlogo-span {
  color: var(--blacktext-color);
}
/* Site-Nav */
.nav-list {
  display: flex;
}
.nav-list > .item:not(:first-child) {
  margin-left: 50px;
}
.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
/* Contacts */
.header-contacts-list {
  display: flex;
  margin-left: auto;
}
.header-contacts-list > .item + .item {
  margin-left: 50px;
}
.header-contacts-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}
.header-contacts-list .link:hover,
.header-contacts-list .link:focus {
  color: var(--accent-color);
}
/* ===============MAIN============== */

/* Hero */
.hero {
  width: 1600px;
  height: 600px;
  background-color: var(--footer-bckg-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 30px;
  margin: 0;
}
.button {
  width: 200px;
  height: 50px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
}
/* Advantages */
.section-title {
  padding-bottom: 50px;
}
.advantages-list {
  display: flex;
}
.advantages-list .item + .item {
  margin-left: 30px;
}
.advantages-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-dscr {
  font-size: 14px;
  line-height: 1.71;
}
/* Features */
.section-title {
  margin: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.features-list {
  display: flex;
}
.features-list .item + .item {
  margin-left: 30px;
}
/* Team */
.team {
  background-color: var(--secondary-bckg-color);
}
.team-list {
  display: flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.member-pic {
  margin-bottom: 30px;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-member {
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-dscr {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--primary-text-color);
  border-radius: 5px;
}
/*==========FOOTER========*/
.page-footer {
  width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bckg-color);
  font-style: inherit;
}
.footer-logo {
  display: inline-block;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 60px;
  margin-bottom: 20px;
}
.footlogo-span {
  color: var(--footlogo-span-color);
}
.contacts {
  font-style: inherit;
}
.footer-contacts-list .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts-list .link {
  color: var(--foot-contacts-color);
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts-list .link:hover,
.footer-contacts-list .link:focus {
  color: var(--accent-color);
}
/* Ссылка на карту визуально отличается от остального списка ссылок,
 поэтому font-style: normal; и text-decoration: none; -принудительно */
.map-link {
  color: var(--whitetext-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Exhibition */
.exhibition-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.exhibition-list-dscr {
  font-size: 16px;
  line-height: 1.88;
}
/* ==============Filter List================ */
.filter-button {
  font-family: 'roboto';
  background-color: var(--secondary-bckg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--whitetext-color);
}
